body {
    font-family: 'Montserrat', sans-serif;
background-color: rgb(108, 105, 105);
    
    /* background: #0e2d3d; */
    /* background-image: url(./hero-bg.jpg);  */
    margin: 0;
    min-height: 100vh;
   
    
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(108, 105, 105);







    
    /* background-color: #0e2d3d; */
    /* background-image: url(./hero-bg.jpg);  */

}


header .logo {
    margin-left: 10px;
    color: #ffdf00;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

header .logo span {

display: block;

}

/* ^ 헤더 나브  */

header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 50px;

}



header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header .auth {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .auth a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* ^ 헤더 나브  */






  

/** Dropdown styling */
.language-container {
    position: relative;
}

.language {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(108, 105, 105);

    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.language-dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;
    display: block;
    font-size: 16px;
}

.language-container:hover .language-dropdown {
    display: block;
}

nav a.classing:hover, nav a.language:hover {
    color: #FCFFC2;
}

/* classing 드랍다운 */
.dropdown-container {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(108, 105, 105);


    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    white-space: nowrap;
    display: block;
    font-size:16px;
}

.dropdown-container:hover .dropdown {
    display: block;
}


/*^ 헤더,드랍다운 */
/*^ ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.text-content {
    max-width: 600px;
    margin-right: 20px; 
text-align: center;
}

.text-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.image-content img {

    position:relative;
    max-width: 400px;
    height: auto;
    cursor: pointer;

    left:-300px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #555;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 250px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    color: #777;
}
.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
}

.popup-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}



.container p {          /* p 태그 색상 */

font-size:20px;
color:rgb(216, 195, 36);


}